.ltr {
    text-align: left;
}

.rtl {
    text-align: right;
}

.editor-container {
    margin: 32px auto 20px auto;
    border-radius: 2px;
    max-width: 800px;
    color: #000;
    position: relative;
    text-align: left;
}

.editor-inner {
    background: #f6f6f6;
    position: relative;
    border: 1px solid #e2e2e2;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.editor-input {
    min-height: 150px;
    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
}

.editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    top: 15px;
    left: 10px;
    font-size: 15px;
    user-select: none;
    display: inline-block;
    pointer-events: none;
}

.editor-text-bold {
    font-weight: bold;
}

.editor-text-italic {
    font-style: italic;
}

.editor-text-underline {
    text-decoration: underline;
}

.editor-paragraph {
    margin: 0;
    margin-bottom: 8px;
    position: relative;
}

.editor-paragraph:last-child {
    margin-bottom: 0;
}